In [1]:
import sympy as sp
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sympy import *
from sympy.interactive import printing
from IPython.display import display, display_latex

printing.init_printing(use_latex="matplotlib")
pd.set_option('display.float_format', lambda x: '%.0f' % x)

In [2]:
precio_venta = 30000
precio_compra = 20000

alternativas = [100000, 500000, 700000]

matriz_rendimiento = pd.DataFrame(0, index=alternativas, columns=alternativas)

for cantidad_compra in alternativas:
    for cantidad_venta in alternativas:
        cantidad_venta_efectiva = min(cantidad_venta, cantidad_compra)
        rendimiento = (cantidad_venta_efectiva * precio_venta) - (cantidad_compra * precio_compra)
        matriz_rendimiento.loc[cantidad_compra, cantidad_venta] = rendimiento
matriz_rendimiento

             100000      500000      700000
100000   1000000000  1000000000  1000000000
500000  -7000000000  5000000000  5000000000
700000 -11000000000  1000000000  7000000000

In [3]:

matriz_laplace = matriz_rendimiento.copy()
# matriz_laplace.iloc[:,0:]
matriz_laplace['Criterio Laplace (promedio de la fila)'] = matriz_laplace.mean(axis=1)
# 
matriz_laplace

,100000,500000,700000,Criterio Laplace (promedio de la fila)
100000,1000000000,1000000000,1000000000,1000000000
500000,-7000000000,5000000000,5000000000,1000000000
700000,-11000000000,1000000000,7000000000,-1000000000

In [4]:
matriz_maximin = matriz_rendimiento.copy()
matriz_maximin['Criterio Maximin (minimo de la fila)'] = matriz_maximin.min(axis=1)

matriz_maximin

,100000,500000,700000,Criterio Maximin (minimo de la fila)
100000,1000000000,1000000000,1000000000,1000000000
500000,-7000000000,5000000000,5000000000,-7000000000
700000,-11000000000,1000000000,7000000000,-11000000000

In [5]:
matriz_maximin_columnar = matriz_rendimiento.max(axis=0)
matriz_maximin_columnar
# maximin_row

100000    1000000000
500000    5000000000
700000    7000000000
dtype: int64

In [6]:
matriz_savage = matriz_rendimiento.copy()

## Restamos de la matriz maximin el valor de savage
## Es decir, columna a columna, restamos del valor maximin el valor de la fila savage
for index, row in matriz_savage.iterrows():
    matriz_savage.loc[index] = matriz_maximin_columnar - matriz_savage.loc[index]


#Creamos una columna nueva con el valor maximo de cada fila
matriz_savage['Criterio Savage (maximo de la fila)'] = matriz_savage.max(axis=1)

matriz_savage

,100000,500000,700000,Criterio Savage (maximo de la fila)
100000,0,4000000000,6000000000,6000000000
500000,8000000000,0,2000000000,8000000000
700000,12000000000,4000000000,0,12000000000

# Criterio Savage
En este caso, el criterio de Savage nos dice que la mejor alternativa es la que minimiza el peor caso (es decir, tiene un valor de arrepentimiento menor). En este caso, la mejor alternativa es comprar 100000.

In [7]:
matriz_hurwicz = matriz_rendimiento.copy()
alpha = 0.75

# Agregamos dos columnas, con los valores maximos y minimos de cada fila
matriz_hurwicz['Minimo'] = matriz_hurwicz.min(axis=1)
matriz_hurwicz['Maximo'] = matriz_hurwicz.max(axis=1)
# calculamos el criterio de Hurwicz
matriz_hurwicz['Criterio Hurwicz'] = (alpha * matriz_hurwicz['Maximo']) + ((1-alpha) * matriz_hurwicz['Minimo'])

matriz_hurwicz

,100000,500000,700000,Minimo,Maximo,Criterio Hurwicz
100000,1000000000,1000000000,1000000000,1000000000,1000000000,1000000000
500000,-7000000000,5000000000,5000000000,-7000000000,5000000000,2000000000
700000,-11000000000,1000000000,7000000000,-11000000000,7000000000,2500000000

In [9]:
matriz_hurwicz = matriz_rendimiento.copy()
alpha = 0.51

# Agregamos dos columnas, con los valores maximos y minimos de cada fila
matriz_hurwicz['Minimo'] = matriz_hurwicz.min(axis=1)
matriz_hurwicz['Maximo'] = matriz_hurwicz.max(axis=1)
# calculamos el criterio de Hurwicz
matriz_hurwicz['Criterio Hurwicz'] = (alpha * matriz_hurwicz['Maximo']) + ((1-alpha) * matriz_hurwicz['Minimo'])

matriz_hurwicz

,100000,500000,700000,Minimo,Maximo,Criterio Hurwicz
100000,1000000000,1000000000,1000000000,1000000000,1000000000,1000000000
500000,-7000000000,5000000000,5000000000,-7000000000,5000000000,-880000000
700000,-11000000000,1000000000,7000000000,-11000000000,7000000000,-1820000000

In [13]:
matriz_hurwicz = matriz_rendimiento.copy()
alpha = 0.6666666666666666

# Agregamos dos columnas, con los valores maximos y minimos de cada fila
matriz_hurwicz['Minimo'] = matriz_hurwicz.min(axis=1)
matriz_hurwicz['Maximo'] = matriz_hurwicz.max(axis=1)
# calculamos el criterio de Hurwicz
matriz_hurwicz['Criterio Hurwicz'] = (alpha * matriz_hurwicz['Maximo']) + ((1-alpha) * matriz_hurwicz['Minimo'])

matriz_hurwicz

,100000,500000,700000,Minimo,Maximo,Criterio Hurwicz
100000,1000000000,1000000000,1000000000,1000000000,1000000000,1000000000
500000,-7000000000,5000000000,5000000000,-7000000000,5000000000,1000000000
700000,-11000000000,1000000000,7000000000,-11000000000,7000000000,1000000000